<div class="main-container">
  <div class="main-block">
    <h3>Opening Exam Directions</h3>
    <p>Welcome to Manhattan Prep's simulated GRE exam platform!&nbsp;
      <br>
      <br>
      There are a few things to keep in mind while taking your practice exam.
    </p>
    <p>
      1. Wireless Users -&nbsp;
      The computer needs to have a constant connection  between the browser and the server.&nbsp;
      If you have a weak wireless signal,  either move closer to the signal source or plug the PC into the  network.&nbsp;
      If you lose your connection while data is being transmitted  between questions, your exam could be invalidated.
    </p>
    <p>
      2. Please
      <span style="color: rgb(0, 153, 51);">
        <span>
          <span style="font-weight: bold;">
            DO NOT PRESS THE BACK BUTTON
          </span>
        </span>
      </span>
      on the browser while taking the exam.&nbsp;
      This will cause unexpected behavior that could invalidate your exam.
    </p>
    <p>
      If you have any questions, please contact us at
      <a href="mailto:techsupport@manhattanprep.com">
        <span style="color: rgb(0, 153, 0);">
          techsupport@manhattanprep.com
        </span>
      </a>
      or call 646-254-6479.
    </p>
    <p>Good luck practicing!</p>
    <p>
      <em>
        <font size="1">
          Note: GRE is a registered trademark <span [innerHTML]=abc class="fraction"></span> Service (ETS) which neither sponsors
          nor endorses  this test preparation service.
        </font>
      </em>
    </p>
  </div>
</div>
