/* Section */
.section {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.contact-section{
  padding: 24px;
}

/* Section Heading */

.headings{
  font-weight: 700;
  text-transform: uppercase;
}

/* Contact Info */

.contact_info .info_item {
  position: relative;
}

.contact_info .info_item i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  line-height: 24px;
  color: #766dff;
  font-weight: 600;
}

.contact_info .info_item h6 {
  font-size: 16px;
  line-height: 24px;
  color: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  color: #5e72e4;
}

.contact_info .info_item p {
  font-size: 14px;
  line-height: 24px;
  padding: 2px 0px;
  font-weight: 400;
}

/* Email Form */

mat-form-field{
  display: block;
  font-size: 0.7rem;
  margin-bottom: 5px;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgb(124, 141, 233)!important;
}

.text-area{
  width: 100%;
  height: 100%;
}

textarea{
  height: 163px;
  overflow: hidden;
}

.form-valid{
  opacity: 0.8;
}
