.section{
  min-height: 800px;
}

.container {
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.portfolio-section{
  padding: 24px;
}

.headings{
  font-weight: 700;
  padding-bottom: 0px;
  text-transform: uppercase;
}

.description{
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: #777777;
  margin-bottom: 0px;
  text-align: center;
  margin-bottom: 75px;
}

.portfolio-menu{
  text-align: center;
  margin-bottom: 50px;
  color: black
}

.portfolio-menu ul li{
  display: inline-block;
  margin: 0;
  margin-right: 45px;
  list-style: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  transition: all 300ms ease;
  text-transform: uppercase;
}

.portfolio-menu ul li:hover{
  color: #766dff;
}

.active{
  color: #766dff;
}

.portfolio-item{
  width: 100%;
  margin-left: auto;
  margin-right: 1px;
}

.portfolio-item .item{
  margin-bottom: 10px;
}

.item-style{
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 290px;
  border-radius: 20px;
  overflow: hidden;
  transition: all 300ms ease;
}

.item-style::after{
  content: '';
  transition: all 300ms ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-image: -webkit-linear-gradient(0deg, rgba(118, 109, 255, 0.7) 0%, rgba(136, 243, 255, 0.7) 100%);
  opacity: 0;
  z-index: 1;
}

.item-style:hover::after, .item-style:hover .item-actions{
  opacity: 1;
}

.item-actions{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;
  transition: all 300ms ease;
}

.link{
  padding: 10px 35px;
  background-color: rgb(240, 98, 146, .9);
  opacity: 1;
  color: white;
  border-radius: 5px;
  width: 165px;
  transition: all 300ms ease;
}

.link:hover{
  background-color: rgb(240, 98, 146, 1);
}

.item-actions .link + .link{
  margin-top: 20px;
}

.btn-icon{
  margin-right: 10px;
}
