<!-- Portfolio Section -->
<div class="section">
  <div class="container">
    <h3 class="headings text text-center"><div class="wow fadeInLeftElement">Portfolio</div></h3>
    <p class='description'>Check out some of my Latest work</p>
    <div class="portfolio-menu">
      <ul>
        <li class="active" data-filter="*">All</li>
        <li data-filter=".angular">Angular</li>
        <li data-filter=".mean">MEAN Stack</li>
      </ul>
    </div>
    <div *ngIf="itemsObservable | async" class=" mb-5">
      <div class="portfolio-item row justify-content-center justify-content-md-start">
        <div *ngFor="let item of itemsObservable | async" class="{{item.category}}">
          <div class="item-style wow zoomIn" [ngStyle]="{'background-image': 'url(' + item.img + ')'}">
            <div class="item-actions">
              <!-- <a class="link demo" href={{item.gitURL}}><i class="fab fa-github btn-icon"></i>GitHub</a>
              <a class="link demo" href={{item.demoURL}}><i class="fas fa-link btn-icon"></i>Live</a> -->
              <img class="zoom" src="../../../assets/images/zoom.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
