<div class="main-container">
  <div class="main-block">
    <h3>Choose your exam options</h3>
    <br>
    <table>
      <tbody>
        <tr>
          <td>
            <b>Customize Timing:</b>
            <br>
            <p>The default timing for an exam is ( Essay = 30 min each, Verbal = 30 min each, Math = 35 min each).
              Choosing alternate timing options will not accurately simulate a test-day experience and can result
              in a different score than you would receive using the default timing option.
            </p>
          </td>
          <td>
            <!-- Select Time for each section -->
            <form [formGroup]="customTimeForm">
              <select name="customTime" formControlName = 'customTime' (change)="submit()">
                <option value="1800000"> Default Timing </option>
                <option value="2400000">50% Extended time (default timing x 1.5)</option>
                <option value="3000000">100% Extended time (default timing x 2)</option>
                <option value="0">Unlimited</option>
              </select>
            </form>
          </td>
        </tr>
        <br>
        <tr>
          <td>
            <b>Customize Delivery: </b>
            <br>
            <p>To take a modified version of the exam (e.g., a math-only exam, a verbal-only exam) change the settings here.
              The "Default" option will deliver a full GRE exam (two essays, two math sections, and two verbal sections).
            </p>
          </td>
          <td>
            <select name="DeliveryCustom">
              <option value="0">Default</option>
            </select>
            <br>
            <br>
            The additional customized delivery options:
            (<em>Math Only, Verbal Only, Essays Only, Essays and Math, Essays and Verbal,Math and Verbal</em>)
            are not available for the Free GRE Practice Test.
          </td>
        </tr>
        <tr>
          <td>
            <p>
              IMPORTANT NOTE: Once these options are selected for this exam, they CANNOT be reset. Future practice
              exams will allow you to choose different accommodations.
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
