<!-- About Section -->
<div class="section">
  <div class="container">
    <div class="about-section row justify-content-center">
      <div class="mb-5 mb-lg-0">
        <div>
          <h3 class="headings text text-center">
            <div class=" wow fadeInLeftElement">About Myself</div>
          </h3>
          <p class="description text-center text-lg-left mb-5 wow fadeIn">{{aboutMe}}</p>
        </div>
      </div>
      <!-- <app-projects class="mb-5"></app-projects>
      <div class="col-lg-6 mt-3 mt-lg-0">
        <h3 class="headings text-center text-lg-left"><div class=" wow fadeInRightElement">Skills</div></h3>
        <div class="row">
          <div class='col-6 d-flex justify-content-lg-start justify-content-center'>
            <div class="skill-list">
              <div class="wow skill-line"></div>
              <div *ngFor="let skills of skillSet1" class="skill-item wow fadeInText">{{skills.skill}}</div>
            </div>
          </div>
          <div class='col-6 d-flex justify-content-lg-start justify-content-center'>
            <div class="skill-list">
              <div class="wow skill-line"></div>
              <div *ngFor="let skills of skillSet2" class="skill-item wow fadeInText">{{skills.skill}}</div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
