<!-- About Section -->
<div class="section">
  <div class="container">
    <div class="about-section row justify-content-center">
      <div class="col-lg-6 d-flex flex-column mb-5 mb-lg-0">
        <div>
          <h3 class="headings text text-center text-lg-left">
            <div class=" wow fadeInLeftElement">About Myself</div>
          </h3>
          <p class="description text-center text-lg-left mb-5 wow fadeIn">{{aboutMe}}</p>
        </div>
        <div>
          <div class="row">
            <div class="col-md-4 mb-4">
              <div class="wel_item">
                <h4 class="text-center wow zoomIn">{{projects.completedProjects + projects.workingOn}}</h4>
                <p class="text-center">Total Projects</p>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="wel_item">
                <h4 class="text-center wow zoomIn">{{projects.completedProjects}}</h4>
                <p class="text-center">Completed Projects</p>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="wel_item">
                <h4 class="text-center wow zoomIn">{{projects.workingOn}}</h4>
                <p class="text-center">Working On</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-3 mt-lg-0">
        <h3 class="headings text-center text-lg-left"><div class=" wow fadeInRightElement">Skills</div></h3>
        <div class="row">
          <div class='col-6 d-flex justify-content-lg-start justify-content-center'>
            <div class="skill-list">
              <div class="wow skill-line"></div>
              <div *ngFor="let skills of skillSet1" class="skill-item wow fadeInText">{{skills.skill}}</div>
            </div>
          </div>
          <div class='col-6 d-flex justify-content-lg-start justify-content-center'>
            <div class="skill-list">
              <div class="wow skill-line"></div>
              <div *ngFor="let skills of skillSet2" class="skill-item wow fadeInText">{{skills.skill}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
