<form class="row justify-content-center" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="col-md-4 d-flex flex-column align-items-center mb-3">

    <div class="row">

      <!-- Image Preview Row -->
      <div class="col-12 d-flex justify-content-center">
        <!-- User image display -->
        <div class="temp-img-display mb-3">
          <div *ngIf="previewImage">
            <img
            class="temp-img"
            (click)="imagePicker.click()"
            src="{{previewImage}}">
          </div>
        </div>

        <!-- Input That takes image which is not displayed -->
        <input
          type="file"
          (change)="onImagePick($event)"
          accept="image/gif,image/jpeg,image/jpg,image/png"
          style="display: none;"
          #imagePicker
        >
      </div>

      <!-- CV Preview Row -->
      <div class="col-12">

        <label><strong>Upload CV</strong></label>
        <!-- Input That takes CV which is not displayed -->
        <input
          type="file"
          (change)="onCVPick($event)"
          accept=".pdf"
          class="btn btn-primary w-100"
          style="display: block;"
          #CVPicker
        >
      </div>

    </div>
  </div>

  <div class="col-md-8 d-flex flex-column justify-content-center">

    <!-- Name Input Field -->
    <mat-form-field appearance="outline">
      <!-- Input Label -->
      <mat-label>Enter Name</mat-label>
      <!-- Input -->
      <!-- use "[formControl]='formGroupName.get(formControlName)'"
          instead of "formControlName=fromControlName"  -->
      <input class="input" [formControl]="profileForm.get('name')" type="text" matInput>
      <!-- Input Errors -->
      <mat-error *ngIf="!!profileForm.get('name').hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Email Input Field -->
    <mat-form-field appearance="outline">
      <!-- Input Label -->
      <mat-label>Enter Email Address</mat-label>
      <!-- Input -->
      <!-- use "[formControl]='formGroupName.get(formControlName)'"
          instead of "formControlName=fromControlName"  -->
      <input class="input" [formControl]="profileForm.get('email')" type="email" matInput>
      <!-- Input Errors -->
      <mat-error *ngIf="!!profileForm.get('email').hasError('email') && !profileForm.get('email').hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="!!profileForm.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Address Input Field -->
    <mat-form-field appearance="outline">
      <!-- Input Label -->
      <mat-label>Enter Address</mat-label>
      <!-- Input -->
      <!-- use "[formControl]='formGroupName.get(formControlName)'"
          instead of "formControlName=fromControlName"  -->
      <input class="input" [formControl]="profileForm.get('address')" type="text" matInput>
      <!-- Input Errors -->
      <mat-error *ngIf="!!profileForm.get('address').hasError('required')">
        Address is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Specialization Input Field -->
    <mat-form-field appearance="outline">
      <!-- Input Label -->
      <mat-label>Enter Specialization</mat-label>
      <!-- Input -->
      <!-- use "[formControl]='formGroupName.get(formControlName)'"
          instead of "formControlName=fromControlName"  -->
      <input class="input" [formControl]="profileForm.get('specialization')" type="text" matInput>
      <!-- Input Errors -->
      <mat-error *ngIf="!!profileForm.get('specialization').hasError('required')">
        Specialization is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Recent Degree Input Field -->
    <mat-form-field appearance="outline">
      <!-- Input Label -->
      <mat-label>Enter Recent Degree</mat-label>
      <!-- Input -->
      <!-- use "[formControl]='formGroupName.get(formControlName)'"
          instead of "formControlName=fromControlName"  -->
      <input class="input" [formControl]="profileForm.get('recentDegree')" type="text" matInput>
      <!-- Input Errors -->
      <mat-error *ngIf="!!profileForm.get('recentDegree').hasError('required')">
        Recent Degree is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Github URL Input Field -->
    <mat-form-field appearance="outline">
      <!-- Input Label -->
      <mat-label>Enter Github URL</mat-label>
      <!-- Input -->
      <!-- use "[formControl]='formGroupName.get(formControlName)'"
          instead of "formControlName=fromControlName"  -->
      <input class="input" [formControl]="profileForm.get('githubURL')" type="text" matInput>
      <!-- Input Errors -->
      <mat-error *ngIf="!!profileForm.get('githubURL').hasError('required')">
        Github URL is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- CV URL Input Field -->

    <!-- Submit Button -->
    <div class="row">
      <div class="col-md-12 d-flex justify-content-end">
        <button [disabled]="!profileForm.valid" class="btn btn-primary" type="submit">Send</button>
      </div>
    </div>
  </div>
</form>
