/* Header CSS */

header{
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
}

/* HeadRoom Plugin Classes CSS */

.header--fixed {
  z-index: 200;
  background-color: transparent;
}

.header--fixed.top {
  transition: none;
  transform: translateY(0);
}

.header--fixed.not-top {
  position: fixed;
  transform: translateY(-100%);
  background-color: #363636;
}

.header--fixed.slideDown.not-top {
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
}

.header--fixed.slideDown.top {
  transition: transform 0.3s ease-in-out;
  position: fixed;
  background-color: #363636;
}

.header--fixed.slideUp.not-top {
  background-color: #363636;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.header--fixed.slideUp.top {
  transform: translateY(-100%);
  position: absolute;
}

@media (max-width: 991.98px){
  .nav-link-inner--text::after{
    display: none!important;
  }
}

/* Custom nav-link CSS */

.nav-link{
  position: relative;
  overflow: hidden;
  font-size: 0.775rem;
  font-weight: 600!important;
  padding-right: 4px!important;
  padding-left: 4px!important;
}

.nav-link:hover,
.nav-link:focus{
  background: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active{
  background: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.auth-stuff{
  display: flex;
  align-items: center;
}

@media (max-width: 991.98px){
  .auth-stuff{
    flex-direction: column;
    align-items: initial;
    justify-content: flex-start;
  }
}

