.main{
  background: #42413C;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'Times New Roman';
  text-align: center;
  font-size: 17px;
  line-height: normal;
  position: relative;
  z-index: 1;
}

.gre-container{
  width: 960px;
  background: #FFF;
  margin: 0 auto;
  background-color: #CCC;
  height: auto;
  padding-bottom: 10px;
}

.exit-options{
  position: absolute;
  top: -1px;
  left: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  z-index: 11;
  height: 100%;
  width: 100%;
  opacity: 0.75;
}
