/*	Utility CSS	*/
.utility{
  height: 28px;
  padding: 3px;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 2px solid #666;
  margin-bottom: 10px;
  background-color: #FFC;
}

.wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.question-number{
  width: 50%;
  transform: translateX(12%);
  text-align: end;
  -webkit-transform: translateX(12%);
  -moz-transform: translateX(12%);
  -ms-transform: translateX(12%);
  -o-transform: translateX(12%);
}

.time-interval{
  padding-right: 5px;
  width: 50%;
  text-align: end;
}
