.section {    
    padding-top: 200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    position: relative;
    margin-top: 100px;
    margin-bottom: 200px;
    padding-bottom: 0px;
}

.section::after{
    content: '';
    clip-path: polygon(100% 0%, 0% 0% , 0% 98.666666666667%, 1% 98.666666666667%, 2% 98.6%, 3% 98.533333333333%, 
    4% 98.4%, 5% 98.266666666667%, 6% 98.133333333333%, 7% 97.933333333333%, 8% 97.666666666667%, 9% 97.466666666667%, 
    10% 97.133333333333%, 11% 96.866666666667%, 12% 96.533333333333%, 13% 96.2%, 14% 95.866666666667%, 15% 95.466666666667%, 
    16% 95.133333333333%, 17% 94.733333333333%, 18% 94.333333333333%, 19% 93.933333333333%, 20% 93.533333333333%, 
    21% 93.066666666667%, 22% 92.666666666667%, 23% 92.266666666667%, 24% 91.866666666667%, 25% 91.466666666667%, 
    26% 91.133333333333%, 27% 90.733333333333%, 28% 90.4%, 29% 90.066666666667%, 30% 89.733333333333%, 31% 89.466666666667%, 
    32% 89.2%, 33% 88.933333333333%, 34% 88.733333333333%, 35% 88.533333333333%, 36% 88.333333333333%, 37% 88.2%, 
    38% 88.133333333333%, 39% 88.066666666667%, 40% 88%, 41% 88%, 42% 88%, 43% 88.066666666667%, 44% 88.133333333333%, 
    45% 88.266666666667%, 46% 88.4%, 47% 88.6%, 48% 88.8%, 49% 89%, 50% 89.266666666667%, 51% 89.533333333333%, 
    52% 89.866666666667%, 53% 90.2%, 54% 90.533333333333%, 55% 90.866666666667%, 56% 91.266666666667%, 57% 91.6%, 
    58% 92%, 59% 92.4%, 60% 92.8%, 61% 93.2%, 62% 93.666666666667%, 63% 94.066666666667%, 64% 94.466666666667%, 
    65% 94.866666666667%, 66% 95.266666666667%, 67% 95.6%, 68% 96%, 69% 96.333333333333%, 70% 96.666666666667%, 
    71% 96.933333333333%, 72% 97.266666666667%, 73% 97.533333333333%, 74% 97.733333333333%, 75% 98%, 76% 98.133333333333%, 
    77% 98.333333333333%, 78% 98.466666666667%, 79% 98.533333333333%, 80% 98.6%, 81% 98.666666666667%, 82% 98.666666666667%, 
    83% 98.666666666667%, 84% 98.6%, 85% 98.466666666667%, 86% 98.4%, 87% 98.2%, 88% 98.066666666667%, 89% 97.866666666667%, 
    90% 97.6%, 91% 97.333333333333%, 92% 97.066666666667%, 93% 96.8%, 94% 96.466666666667%, 95% 96.133333333333%, 
    96% 95.733333333333%, 97% 95.4%, 98% 95%, 99% 94.6%, 100% 94.2%);
    height: 200px;
    position: absolute;
    top: calc(100% - 50px);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    left: 0;
    width: 100%;
}

.section::before{
  content: '';
  clip-path: polygon(100% 0%, 0% 0% , 0% 98.666666666667%, 1% 98.666666666667%, 2% 98.6%, 3% 98.533333333333%, 
  4% 98.4%, 5% 98.266666666667%, 6% 98.133333333333%, 7% 97.933333333333%, 8% 97.666666666667%, 9% 97.466666666667%, 
  10% 97.133333333333%, 11% 96.866666666667%, 12% 96.533333333333%, 13% 96.2%, 14% 95.866666666667%, 15% 95.466666666667%, 
  16% 95.133333333333%, 17% 94.733333333333%, 18% 94.333333333333%, 19% 93.933333333333%, 20% 93.533333333333%, 
  21% 93.066666666667%, 22% 92.666666666667%, 23% 92.266666666667%, 24% 91.866666666667%, 25% 91.466666666667%, 
  26% 91.133333333333%, 27% 90.733333333333%, 28% 90.4%, 29% 90.066666666667%, 30% 89.733333333333%, 31% 89.466666666667%, 
  32% 89.2%, 33% 88.933333333333%, 34% 88.733333333333%, 35% 88.533333333333%, 36% 88.333333333333%, 37% 88.2%, 
  38% 88.133333333333%, 39% 88.066666666667%, 40% 88%, 41% 88%, 42% 88%, 43% 88.066666666667%, 44% 88.133333333333%, 
  45% 88.266666666667%, 46% 88.4%, 47% 88.6%, 48% 88.8%, 49% 89%, 50% 89.266666666667%, 51% 89.533333333333%, 
  52% 89.866666666667%, 53% 90.2%, 54% 90.533333333333%, 55% 90.866666666667%, 56% 91.266666666667%, 57% 91.6%, 
  58% 92%, 59% 92.4%, 60% 92.8%, 61% 93.2%, 62% 93.666666666667%, 63% 94.066666666667%, 64% 94.466666666667%, 
  65% 94.866666666667%, 66% 95.266666666667%, 67% 95.6%, 68% 96%, 69% 96.333333333333%, 70% 96.666666666667%, 
  71% 96.933333333333%, 72% 97.266666666667%, 73% 97.533333333333%, 74% 97.733333333333%, 75% 98%, 76% 98.133333333333%, 
  77% 98.333333333333%, 78% 98.466666666667%, 79% 98.533333333333%, 80% 98.6%, 81% 98.666666666667%, 82% 98.666666666667%, 
  83% 98.666666666667%, 84% 98.6%, 85% 98.466666666667%, 86% 98.4%, 87% 98.2%, 88% 98.066666666667%, 89% 97.866666666667%, 
  90% 97.6%, 91% 97.333333333333%, 92% 97.066666666667%, 93% 96.8%, 94% 96.466666666667%, 95% 96.133333333333%, 
  96% 95.733333333333%, 97% 95.4%, 98% 95%, 99% 94.6%, 100% 94.2%);
  height: 200px;
  position: absolute;
  top: calc(0px - 175px);
  background-color: white;
  left: 0;
  width: 100%;
}

.container {
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.about-section{
    padding: 24px;
}

.number{
    font-weight: 800;
    font-size: 2.5rem;
    color: white;
}

.icons{
    width: 90px;
    margin: auto;
}

.title{
    color: white;
}

img{
    width: inherit;
}

@keyframes fadeInText {
from {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
}

to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}

.fadeInText{
animation-delay: .3s;
-webkit-animation-name: fadeInText;
animation-name: fadeInText;
}

@keyframes fadeIn {
from {
    opacity: 0;
}

to {
    opacity: 1;
    transition: ease-in-out;
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    -o-transition: ease-in-out;
}
}

.fadeIn{
animation-delay: .6s;
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
}
  