<!-- Projects Section -->
<div class="section">
  <div class="container">
    <div class="about-section row justify-content-center">
      <div class="w-100 mb-lg-0">
        <div class="projects">
          <div class="row">
            <div class="col-12 mb-5 text-center col-md-3 wow zoomIn">
              <div class="icons"><img src="../../../assets/icons/projects.svg"></div>
              <div class="number">{{projects.completedProjects + projects.workingOn + 7}}</div>
              <div class="title">Total Projects</div>
            </div>
            <div class="col-12 mb-5 text-center col-md-3 wow zoomIn">
              <div class="icons"><img src="../../../assets/icons/complete.svg"></div>
              <div class="number">{{projects.completedProjects}}</div>
              <div class="title">Projects Completed</div>
            </div>
            <div class="col-12 mb-5 text-center col-md-3 wow zoomIn">
              <div class="icons"><img src="../../../assets/icons/contribute.svg"></div>
              <div class="number">7</div>
              <div class="title">Contributed In</div>
            </div>
            <div class="col-12 mb-5 text-center col-md-3 wow zoomIn">
              <div class="icons"><img src="../../../assets/icons/working.svg"></div>
              <div class="number">{{projects.workingOn}}</div>
              <div class="title">Working On</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>