<footer>
  <div class="container no-print footer-container">
    <div class="row">
      <div class="col-md-4">
        <div class="title">
          <span class="title">JobTestPrep</span>
          <div class="plus-minus-toggle pull-right hidden-lg hidden-md text-white font-weight-regular collapsed" (click)="changeState('#col1')"></div>
        </div>
        <p class="mobile-expanded-content" id="col1">Since 1992, JobTestPrep has been an innovator in online test preparation. We have taken our years of experience and put it to use in helping over 1,000,000 job seekers reach their career goals. Start preparing today for your job assessment with JobTestPrep.</p>
      </div>
      <div class="col-md-2">
        <div class="title">
          <span class="title">Our Websites</span>
          <div class="plus-minus-toggle pull-right hidden-lg hidden-md text-white font-weight-regular collapsed" (click)="changeState('#col2')"></div>
        </div>
        <ul class="mobile-expanded-content" id="col2">
          <li>
              <a class="footer-link" href="https://www.jobtestprep.co.uk">United Kingdom</a>
          </li>
          <li>
              <a class="footer-link" href="https://www.jobtestprep.de">Germany</a>
          </li>
          <li>
              <a class="footer-link" href="https://www.jobtestprep.fr">France</a>
          </li>
          <li>
              <a class="footer-link" href="https://www.jobtestprep.nl">Netherlands</a>
          </li>
          <li>
              <a class="footer-link" href="https://www.jobtestprep.se">Sweden</a>
          </li>
          <li>
              <a class="footer-link" href="https://www.jobtestprep.dk ">Denmark</a>
          </li>
          <li>
              <a class="footer-link" href="https://es.jobtestprep.com">Spain</a>
          </li>
          <li>
              <a class="footer-link" href="http://jobtestprep.no">Norway</a>
          </li>
          <li>
              <a class="footer-link" href="https://pt.jobtestprep.com/">Portugal</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <div class="title">
          <span class="title">Company</span>
          <span class="plus-minus-toggle pull-right hidden-lg hidden-md text-white font-weight-regular collapsed" (click)="changeState('#col3')"></span>
        </div>
        <ul class="mobile-expanded-content" id="col3">
          <li>
            <a class="footer-link" href="/about/"> About </a>
          </li>
          <li>
            <a class="footer-link" href="/privacy/"> Privacy </a>
          </li>
          <li>
            <a class="footer-link" href="/success-stories/"> Success Stories </a>
          </li>
          <li>
            <a class="footer-link" href="/careers/"> Careers </a>
          </li>
          <li>
            <a class="footer-link" href="/our-team/"> Meet the Team </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <div class="title">
          <span class="title">Help</span>
          <span class="plus-minus-toggle pull-right hidden-lg hidden-md text-white font-weight-regular collapsed" (click)="changeState('#col4')"></span>
        </div>
        <ul class="mobile-expanded-content" id="col4">
          <li>
            <a class="footer-link" href="/contact-us/"> Contact Us </a>
          </li>
          <li>
            <a class="footer-link" href="/terms/"> Terms &amp; Conditions </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <div class="title">
          <span class="title">Partnerships</span>
          <span class="plus-minus-toggle pull-right hidden-lg hidden-md text-white font-weight-regular collapsed" (click)="changeState('#col5')"></span>
        </div>
        <ul class="mobile-expanded-content" id="col5">
          <li>
            <a class="footer-link" href="affiliates"> Affiliate Program </a>
          </li>
          <li>
            <a class="footer-link" href="partners-recruiters"> Recruiters </a>
          </li>
          <li>
            <a class="footer-link" href="/partners-unis-non-profits/"> Universities </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="col-md-3 hidden-sm"></div>
        <div class="col-md-6 col-sm-12 socialLinks">
          <ul class="row">
            <li class="col-md-3">
              <a target="_blank" rel="noreferrer" href="https://www.facebook.com/jobtestprepuk">
                <span class="sprite sprite-facebook"></span>
              </a>
            </li>
            <li class="col-md-3">
              <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/company/jobtestprep.com">
                <span class="sprite sprite-linkedin"></span>
              </a>
            </li>
            <li class="col-md-3">
              <a target="_blank" rel="noreferrer" href="https://twitter.com/jobtestprepcom">
                <span class="sprite sprite-twitter"></span>
              </a>
            </li>
            <li class="col-md-3">
              <a target="_blank" rel="noreferrer" href="https://www.youtube.com/channel/UC9UZ0IM2Qd2j4LCnQnvH8eA">
                  <span class="sprite sprite-youtube"></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 hidden-sm"></div>
      </div>
    </div>
    <div class="row footer-social-wrapper">
      <div class="footerDivider col-md-12 "></div>
      <div class="copyright col-md-12 text-center">
        <small class="font-weight-light">Copyright © 1992-2020, All Rights Reserved </small>
      </div>
    </div>
  </div>
</footer>
