/*	CAT Buttons CSS	*/
.menu{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.cat-btns{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 40px 0px 0px;
  clear: both;
  padding: 5px ;
}
.btn-li{
  position: relative;
  z-index: 2;
  width: 80px;
  height: 65px;
  overflow: hidden;
}
.btn-li a{
  margin: 0 0.15em;
  padding: 0px 5px;
  cursor: pointer;
}
.cat-btns a{
  margin: 0 0.15em;
  padding: 0px 5px;
  display: block;

}
.cat-btns a img{
  width: 65px;
  height: 65px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.warning{
  visibility: visible;
  color: red;
  /* float: right; */
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding-left: 10px;
  padding-top: 5px;
}
