<div class="">
  <div class="content left_panel">
    <div class="instruction">
      People who make decisions based on emotion and justify those decisions with logic afterwards are poor decision makers.
    </div>

    <div class="question">
    Write a response in which you discuss the extent to which you agree or disagree with the statement and explain your reasoning for the position you take. In developing and supporting your position, you should consider ways in which the statement might or might not hold true and explain how these considerations shape your position.

    </div>
  </div>

  <!--	height defaults to 100% when no instructions exist	-->
  <div class="content v_outer right_panel">
    <div class="">


      <div class="">
        <textarea name="radAnswer" style="width: 98%; height: 628px; border:none;"></textarea>
      </div>
    </div>

  </div>

  <div style="clear:both"></div>
</div>
