.left_panel {
  float: left;
  height: 668px;
  background: white;
  width: 356px;
}

.content {
  border: 1px solid black;
  padding: 3px;
}

.instruction {
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 3px;
  padding: 20px;
  text-align: left;
}

.question{
  padding: 20px 20px;
  margin-bottom: 3px;
  text-align: left;
}

/* right side */

.right_panel{
  float: right;
  height: 668px;
  padding: 0;
  width: 539px;
}

.v_outer{
  box-sizing: border-box;
  overflow: hidden;
}

.content textarea {
  overflow-y: scroll;
  width: 98%;
  height: 628px;
  border: none;
}
