<div class="question-container">
  <div class="question-block">
    <div class="instruction">
      For each blank select one entry from the corresponding column of choices. Fill all blanks in the way that best completes the text.
    </div>
    <div class="main">
      <ng-container *ngIf="question && question !== undefined">
        <div class="question">
          {{question.text}}
        </div>
        <ng-container *ngIf="question.options && question.options !== undefined && question.options !== null">

          <form [formGroup]="questionForm" (change)="onChange()">
            <div formArrayName="options">
              <div *ngFor="let item of options.controls; let i=index">
                <ul>
                  <li>
                    <input type="radio" [formControlName]="i" [value]="question.options[i].optionA">
                    <label for="optionA">{{question.options[i].optionA}}</label>
                  </li>
                  <li>
                    <input type="radio" [formControlName]="i" [value]="question.options[i].optionB">
                    <label for="optionB">{{question.options[i].optionB}}</label>
                  </li>
                  <li>
                    <input type="radio" [formControlName]="i" [value]="question.options[i].optionC">
                    <label for="optionC">{{question.options[i].optionC}}</label>
                  </li>
                  <li *ngIf="question.options[i].optionD ">
                    <input type="radio" [formControlName]="i" [value]="question.options[i].optionD">
                    <label for="optionD">{{question.options[i].optionD}}</label>
                  </li>
                </ul>
              </div>
            </div>
          </form>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
