/*	Question Container CSS	*/
.question-container{
  /* margin: 10px 0; */
}
.question-block{
  margin-bottom: 0px;
  margin-top: 0px;
  z-index: 2;
  /* width: 906px; */
  margin: 0 auto;
  background-color: #FFF;
  padding: 3px;
  box-shadow: 0px 0px 10px #818181;
  -webkit-box-shadow: 0px 0px 10px #818181;
  -moz-box-shadow: 0px 0px 10px #818181;
}
.instruction{
  height: 102px;
  padding: 20px 40px;
  border: 1px solid black;
  margin-bottom: 3px;
}

*{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 570px;
  border: 1px solid black;
  padding: 3px;
  flex-direction: column;
}

