<!-- Skills Section -->
<div class="section">
  <div class="container">
    <div class="about-section row justify-content-center">
      <div class="w-100 mt-3 mt-lg-0">
        <h3 class="headings text-center"><div class="wow fadeInRightElement">Skills</div></h3>
        <div class="row">
          <div class="offset-2"></div>
          <div class='col-5 d-flex justify-content-lg-start justify-content-center'>
            <div class="skill-list">
              <div class="wow skill-line"></div>
              <div *ngFor="let skills of skillSet1" class="skill-item wow fadeInText">{{skills.skill}}</div>
            </div>
          </div>
          <div class='col-5 d-flex justify-content-lg-start justify-content-center'>
            <div class="skill-list">
              <div class="wow skill-line"></div>
              <div *ngFor="let skills of skillSet2" class="skill-item wow fadeInText">{{skills.skill}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>