@media (max-width: 575px){
}

@media (max-width: 767.98px){
  .custom-dialog-section{
    width: 90vw!important;
  }

  .image-size{
    max-width: unset!important;
  }
}

.custom-dialog-section{
  width: 60vw;
}

.image-size{
  width: 100%;
  max-width: 240px;
  min-width: 240px;
  max-height: 380px;
  /* height: 100%; */
  object-fit: cover;
  object-position: top;
}

.badge {
  font-size: 55%;
  margin-bottom: 6px;    
  display: inline-flex;
  align-items: center;
}

label{
  font-weight: 600;
  font-size: 70%;
}

ul{
  list-style: none;
  padding-inline-start: 0;
  width: 100%;
}

svg{
  width: 18px;
  height: 18px;
}

li > a {
  width: 100%;
  padding: 3px;
}

a > img{
  vertical-align: sub;
}

.btn svg{
  width: 26px;
  height: 26px;
}

.btn{
  /* font-size: 1rem; */
}
